.topbar {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  position: relative;
  margin-left: 310px;
}

/* Search */
.search-wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 10px 
  box-shadow 0 2px 10px rgba(0,0,0,0.08);
}

.search-wrapper i {
  color: #aaa;
  margin-right: 15px;
}

.search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* Right section */
.right-section {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.bell {
  font-size: 18px;
  cursor: pointer;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 10px 18px;  
  padding-left: 20px;   
  border-radius: 30px;    
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

}

.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;

}

.profile small {
  font-size: 11px;
  color: #777;
}
span {
  line-height: 1.3;
}

