<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head>
<div class="sidebar">
  <h2 class="logo">A&H</h2>
   <div class="menu-item home-dashboard">
    <i class="fa fa-home"></i>
    <span>Dashboard</span>
  </div>
  <p class="start"> Content</p>
  <div class="menu-item expandable">
    <i class="fa-solid fa-folder-plus"></i>
    <span>Content Upload </span>
    <i class="fa-solid fa-chevron-up arrow"></i>  
</div> 
  <div class="menu-item expandable">
    <i class="fa-regular fa-file-lines"></i>
    <span>General Content</span>
    <i class="fa-solid fa-chevron-up arrow"></i>
  </div>
 <div class="menu-item expandable">
    <i class="fa-solid fa-video"></i>
    <span>Eiflix</span>
    <i class="fa-solid fa-chevron-up arrow"></i>
  </div>

  <div class="menu-item expandable">
    <i class="fa-solid fa-glasses"></i>
    <span>Solar Voice</span>
    <i class="fa-solid fa-chevron-up arrow"></i>
  </div>

  <div class="menu-item expandable">
    <i class="fa-regular fa-lightbulb"></i>
    <span>Workshop</span>
    <i class="fa-solid fa-chevron-up arrow"></i>
  </div>

</div>
